body {
    margin: 0;
    /* Remove default margin */
}

#scrollBtn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#scrollBtn>.top {
    display: none;
}

#scrollBtn.scrollUp>.top {
    display: initial;
}

#scrollBtn.scrollUp>.bottom {
    display: none;
}

html {
    scroll-behavior: smooth;
}


.td {
    scroll-behavior: smooth;
    background-color: red;
    bottom: auto;
    right: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.td:hover {
    background-color: tomato;
}